- var presskitLink = "http://playoctobo.com/press"

- var team = [ { image: 1, name: "Yuting Su", site: "http://suyuting.com/", roles: ["Team Lead", "Creative Director"] } ]
- team.push( { image: 2, name: "Julian Ceipek", site: "http://jceipek.com/", roles: ["Game Designer", "Tech Director"] } )
- team.push( { image: 3, name: "Xian Lu", site: "http://luxianlx.com/", roles: ["Game Designer", "Multimedia Designer"] } )
- team.push( { image: 4, name: "Liwen Lin", site: "https://www.behance.net/liwen_lin", roles: ["Illustrator"] } )
- team.push( { image: 5, name: "Jacques Brautbar", site: "http://www.jacquesbrautbar.com/", roles: ["Composer"] } )
- team.push( { image: 6, name: "Nami Melumed", site: "http://namicomposer.com/", roles: ["Composer"] } )
- team.push( { image: 7, name: "Justin Bortnick", site: "mailto:shademan.exe@gmail.com", roles: ["Writer"] } )
- team.push( { image: 8, name: "Vivian Lin", site: "mailto:vnlin@hotmail.com", roles: ["Crafting Consultant"] } )

mixin botProtection()
  div(style="position: absolute; left: -5000px;", aria-hidden="true")
    input.pure-u-1(type="text", name="b_73a85c8d2b11a53ff2b6a691a_906254525e", tabindex="-1", value="")


doctype html
html(lang="en")
  head
    title="OCTOBO"
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
    <!--[if lte IE 8]>
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css")
    <![endif]-->
    <!--[if gt IE 8]><!-->
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css")
    <!--<![endif]-->

    link(href='https://fonts.googleapis.com/css?family=Karla|Comfortaa:700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")

    link(rel="stylesheet", href="main.css")

  body
    .header
      .octobo-menu-wrapper.pure-menu.pure-menu-horizontal.pure-menu-fixed
        .octobo-menu
          a.pure-menu-heading(href="#")
            img(src='images/logo.png' alt='Octobo Logo')
          ul.pure-menu-list
            li.pure-menu-item
              a.pure-menu-link(href="#about").
                ABOUT
            li.pure-menu-item
              a.pure-menu-link(href="#video").
                VIDEO
            li.pure-menu-item
              a.pure-menu-link(href="#contact").
                CONTACT
            li.pure-menu-item.hide-on-mobile
              a.pure-button.pure-menu-link.octobo-presskit(href="#{presskitLink}").
                PRESS
    .pure-g
      .pure-u-1.octobo-hero
        .octobo-hero-overlay
          .octobo-about
            h1.
              Meet OCTOBO
            p.
              Your Interactive Plush Octopus Companion

            form.pure-form.octobo-signup(action="//playoctobo.us12.list-manage.com/subscribe/post?u=73a85c8d2b11a53ff2b6a691a&amp;id=906254525e", method="post", name="mc-embedded-subscribe-form", class="validate" target="_blank", novalidate)
              fieldset
                .octobo-signup-item
                  input.octobo-signup-item-email(type="email", value="", name="EMAIL", placeholder="me@email.com", required)
                +botProtection()
                .octobo-signup-item
                  input.pure-button.pure-button-primary(type="submit", value="Keep me updated!", name="subscribe", id="mc-embedded-subscribe")


    .event-wrapper
      .pure-g.event-container
        a.octobo-event(href="http://www.gdconf.com/news/heres_the_game_lineup_for_gdc_.html").pure-u-1
          img.rounded-icon(src="images/icons/altctrlgdc.jpg")
          p.
            OCTOBO was selected for the alternate controller showcase at the 2016 Game Developers Conference, the world's largest professional game industry event!

    .pure-g.octobo-intro
      .pure-u-1.pure-u-md-1-2.octobo-feature-image
      .pure-u-1.pure-u-md-1-2.octobo-intro-description-wrapper
        .octobo-feature-blurb
          h2.
            OCTOBO makes family storytime soft, cuddly, and magical again.
          p.
            OCTOBO is a reactive plush octopus toy that comes with a storybook. As parents and children read the book together, they discover what OCTOBO wants, give him things they find in the book, interact with OCTOBO, and see him respond to them.
          p.
            He has a tablet display on his head and soft sensors throughout his body.


    #about.meet-octobo
      .pure-g.octobo-callout-row
        .pure-u-1.pure-u-md-1-3
          .octobo-callout
            img.pure-img(src="images/icons/callouts/tablet.jpg")
            h3.
              Tablet
            p.
              OCTOBO uses the same tablet you and your kids are already playing with!
        .pure-u-1.pure-u-md-1-3
          .octobo-callout
            img.pure-img(src="images/icons/callouts/plush.jpg")
            h3.
              Plush
            p.
              At heart, OCTOBO is a soft, cuddly plush stuffed with soft sensors that let him react to you.
        .pure-u-1.pure-u-md-1-3
          .octobo-callout
            img.pure-img(src="images/icons/callouts/book.jpg")
            h3.
              Book
            p.
              OCTOBO's storybooks make family storytime more interactive, with magical goodies from OCTOBO's world.

    hr.octobo-divider

    .octobo-video-wrapper
      .pure-g
        .pure-u-1-1.pure-u-md-1-2.octobo-video
          #video.video-wrapper
            iframe(width="560", height="315", src="https://www.youtube.com/embed/hdQ2dtPioe4?modestbranding=0&showinfo=0&rel=0" frameborder="0", allowfullscreen)


    .octobo-quotes-wrapper
      .octobo-quotes-container.pure-g
        .pure-u-1-1.pure-u-md-1-3
          blockquote.octobo-quote
            a(href="http://www.zam.com/article/262/a-strategy-game-played-on-a-sewing-machine-check-out-these-bizarre-controllers-from-gdc")
              p.
                &ldquo;&hellip;to physically play with and hug a stuffed animal, and have it react to [you] is incredible&rdquo;
              footer
                cite.
                  Zam
        .pure-u-1-1.pure-u-md-1-3
          blockquote.octobo-quote
            a(href="http://www.gamasutra.com/view/news/268346/Yuting_Sus_Octobo_A_21st_Century_Teddy_Ruxpin.php")
              p.
                &ldquo;&hellip;a swarm of octopodes [will] make their way into toy stores around the world&rdquo;
              footer
                cite.
                  Gamasutra
        .pure-u-1-1.pure-u-md-1-3
          blockquote.octobo-quote
            a(href="http://gdt.stanford.edu/what-can-an-octopus-teach-us-about-emotion/")
              p.
                &ldquo;&hellip;direct interaction [with Octobo&hellip;] might have the greatest potential for a true emotional and empathetic experience&rdquo;
              footer
                cite.
                  Stanford

    .team-container

      mixin person(info)
        //- .pure-u-lg-1-4.pure-u-sm-1.pure-u-md-1-2
        li.team-person
          a(href=info.site)
            img.pure-img(src="images/team/#{info.image}.jpg")
            .team-person-description
              h3=info.name
              ul
                each role in info.roles
                  li=role

      .pure-g
        .pure-u-1
          h2#team.
            Team OCTOBO

        ul.team-list
          each val in team
            +person(val)

    .octobo-contact-container
      .pure-g
        .pure-u-1
          h2#contact.
            Contact Us
      .pure-g
        .pure-u-1
          .contact-options
            a.octobo-presskit.pure-button(href="#{presskitLink}").
              Presskit

            ul.contact-list
              li.contact-item
                a(href="mailto:playoctobo@gmail.com", title="email")
                  span.fa.fa-envelope(aria-hidden="true")
              li.contact-item
                a(href="https://twitter.com/playoctobo", title="twitter")
                  span.fa.fa-twitter-square(aria-hidden="true")
              li.contact-item
                a(href="http://facebook.com/octobo", title="facebook")
                  span.fa.fa-facebook-official(aria-hidden="true")

    footer
      &copy; Team Octobo, 2016

    script(src="main.js")
